.myInput {
    color: black;
    font-size: 24px;

    display: inline-block;

    padding: 20px;
    background: white;
    border: 2px solid #ffff;
    width: 90%;
    height: 20px;

    border: 1px solid pink;
    border-radius: 20px;

}