

* {
  margin: 0px;
  padding: 0px;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
}




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.column-header--inprogress{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background-color: orange;
}

.column-header--todo{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background-color: pink;
}


.column-header--done{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background: rgb(0, 255, 76)
}

.board {
  display: flex;
  justify-content: space-between;
  color: black;
}

.board-holder {
  margin-top: 50px;  
  
  display: flex;
  justify-content: space-between;
  gap: 20px;

  color: black;
}

.column {
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
  height: 100%;
  width: 350px;
  border-radius: 16px;
}

.column--todo {
  background: pink;
  transition: 30%;
}

.column--inprogress {
  background: orange;
  transition: 30%;
}

.column--done {
  background: rgb(0, 255, 76);
  transition: 30%;
}

.column-title {
  padding: 20px 10px;
  background-color: #F2C9A0;
  border: 3px solid #fab875;
  border-radius: 17px;
  opacity: 0.8;
}



.task_card {
  position: relative;

  color: black;
  margin-top: 20px;
  padding: 10px;
  background-color: #F2C9A0;
  border: 3px solid #fab875;
  height: 100%;
  text-align: left;
  border-radius: 10px;

  
}

.task-backround {


  height: 100%;
  background-color: #F2C9A0;
  width: 100%;
}

.task-delete img {
  background-color: #ffa54b;
  border-radius: 5px;

  display: block;
  position: absolute;

  height: 20px;
  width: 20px;

  top: 10px;
  right: 10px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalLogo {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.modalForm span{
  text-align: left;
  font-weight: 400;
}

.button_card {
  display: flex;
  justify-content: right;
}