

* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.column-header--inprogress{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background-color: orange;
}

.column-header--todo{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background-color: pink;
}


.column-header--done{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background: rgb(0, 255, 76)
}

.board-holder {
  margin-top: 50px;  
  
  display: flex;
  justify-content: space-between;
  gap: 20px;

  color: black;
}

.column {
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
  height: 100%;
  width: 350px;
  border-radius: 16px;
}

.column--todo {
  background: pink;
  transition: 30%;
}

.column--inprogress {
  background: orange;
  transition: 30%;
}

.column--done {
  background: rgb(0, 255, 76);
  transition: 30%;
}


.task_card {
  color: black;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  text-align: left;
  border-radius: 10px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalLogo {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.modalForm span{
  text-align: left;
  font-weight: 400;
}