* {
  margin: 0px;
  padding: 0px;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.column-header--inprogress{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background-color: orange;
}

.column-header--todo{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background-color: pink;
}


.column-header--done{
  margin-top: 50px;
  height: 26px;
  width: 350px;
  padding: 20px;
  border-radius: 16px;
  background: rgb(0, 255, 76)
}

.board-holder {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
  height: 100%;
  width: 350px;
  border-radius: 16px;
}

.column--todo {
  background: pink;
  transition: 30%;
}

.column--inprogress {
  background: orange;
  transition: 30%;
}

.column--done {
  background: rgb(0, 255, 76);
  transition: 30%;
}
